body{
    margin:unset;
}
div#top{
margin-bottom:11em;}
div#header{
    border:0.1em solid black;
    border-width:0 0 0.1em 0;
}
/*#header {
	text-align:center;
	font-size:2.5em;
	color:black;
    font-family: 'Sacramento', cursive;
    padding-bottom:0.4em;
    padding-top:0.2em;
    border:0.2em solid black;
    border-width: 0 0 0.02em 0;
    border-color: rgb(22, 22, 22);
    font-weight:bold;
    margin:unset;
}
/* #main div{
    /*margin-left:0.2em;
    margin-right:0.2em;
}*/
.description p{
    margin-top:0.2em;
    margin-bottom:0.1em;
    justify-content: left;
    font-size:1.1em;
    color:rgba(3, 4, 5,0.7);
    border:0.1em solid rgba(241, 241, 241,1);
    border-width:0 0 0.1em 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(241, 241, 241,0.5);
    padding:0.5em;
}
.title p{
    margin-top:2em;
    margin-bottom:0.1em;
    justify-content: left;
    font-size:1.2em;
    color:black;
    font-family: 'Cinzel Decorative', cursive;
    background-color: rgba(241, 241, 241,0.2);
    padding:0.5em;
   
}

.image{
    overflow:auto;
    white-space:nowrap;
    display:block;
    min-height:17em;
    text-align:center;
    vertical-align: middle;
    object-fit: contain;
    
}
.image img{
    width:100%;
    height:auto;
    vertical-align: middle;
   
}

#like{
    border:0 solid white;
    background-color: unset;
    color:gainsboro;
    padding: 0.3em 0 0 0.2em;
}
#bottom{
    position:fixed;
    bottom:0;
    background-color:white;
    padding: 3em 0 0.5em 0;
    width:100%;
}
#innerbottom
{
 width:100%;
 text-align:center;
 border-top:1px solid lightgrey;
 box-shadow:black;
 position:relative;
 z-index:1;

 
}
#circle{
    text-align: center;
    height:2em;
    width:4em;
    border-radius: 0 0 4em 4em;
    margin:0px auto;
    border:1px solid lightgrey;
    border-top:none;
    position:relative;
    background:white;
    box-shadow: 2px 2px 3px 2px grey;
    top:-0.9px;
    
}
#innercircle{
    position : fixed;
    text-align :center;
    bottom:1%;
    border:0px solid white;
    z-index:100px;
    cursor:pointer;
}
 #bottom #innerbottom #circle #innercircle i.material-icons{
    font-size:4em;
    color: rgb(35, 155, 235);
    
}
